<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
<head>
        {% progressive_web_app_meta %}

	<title>CEPF</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block head %}
        {% endblock %}
</head>
<body>
        {% block header %}
        <header>
                <!-- Top Navbar -->
                <div class="navbar-fixed">
                <nav>
                        <div class="nav-wrapper light-blue">
                                <a href="" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                                <ul class="right">
                                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
                                </ul>
                        </div>
                </nav>
                </div>
                <!-- Slide-out Navbar -->
                <ul id="slide-out" class="sidenav">
                        <li>
                                <div class="user-view light-blue lighten-3">
                                        <img class="circle" src="{% static "images/police-cap.png" %}">
                                        <span class="black-text name">{{ user.get_full_name }}</span>
                                        <span class="black-text email">{{ user.email }}</span>
                                </div>
                        </li>
                        <li><a class="waves-effect" href="{% url 'calendar' %}"><i class="material-icons">dashboard</i>Dashboard</a></li>
                        <!-- <li><a class="waves-effect" href=""><i class="material-icons">history</i>Past Assignments</a></li> -->
                        <li><div class="divider"></div></li>
                        {% if request.user.is_staff %}
                        <li><a class="subheader">Staff Options</a></li>
                        <li><a class="waves-effect" href="{% url 'assignments' %}"><i class="material-icons">event</i>Assignments</a></li>
                        <li><a class="waves-effect" href="{% url 'communities' %}"><i class="material-icons">people</i>Communities</a></li>
                        <li><a class="waves-effect" href="{% url 'officers' %}"><i class="material-icons">face</i>Officers</a></li>
                        <li><a class="waves-effect" href="#"><i class="material-icons">insert_chart</i>Analytics</a></li>
                        <li><div class="divider"></div></li>
                        {% endif %}
                        <li><a class="subheader">Account</a></li>
                        <li><a class="waves-effect" href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i>Logout</a></li>
                </ul>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                        <li><a href="javascript:window.location.reload(true)">Refresh</a></li>
                </ul>
        </header>
        {% endblock %}

	{% block content %}
        {% endblock %}
        <footer>
                <div class="z-depth-0 light-blue"></div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        {% block scripts %}
        {% endblock %}
</body>
</html>
