{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/calendar.css" %}">
{% endblock %}

{% block content %}
<main>
        <div class="container">
                <div class="row">
                        <div class="col s12 m12 l7">

                        </div>
                        <div class="col s12 m12 l5">
                                <div id="pie-container">
                                        <canvas id="pie-chart"></canvas>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col s12 m12 l4">
                                <ul class="collapsible collection with-header">
                                        <li class="collection-header light-blue lighten-3">
                                                <h4>Past Assignments</h4>
                                        </li>

                                        {% for past_assignment in past_assignments %}
                                        <li>
                                                <div class="collapsible-header grey lighten-4">
                                                        <i class="material-icons">expand_more</i>
                                                        <div>{{ past_assignment.name }}
                                                                <div class="teal-text text-lighten-1">{{ past_assignment.time }}</div>
                                                                <div class="teal-text text-lighten-1">{{ past_assignment.date }}</div>
                                                        </div>
                                                        <div class="right-aligned-flex grey-text text-darken-2">
                                                                {% if not past_assignment.is_completed %}
                                                                <a href="{% url 'add_feedback' id=past_assignment.id back='calendar' %}" class="grey-text text-darken-2">
                                                                        <i class="material-icons checkbox">check_box_outline_blank</i>
                                                                </a>
                                                                {% else %}
                                                                <i class="material-icons checkbox">check_box</i>
                                                                {% endif %}
                                                        </div>
                                                </div>
                                                <div class="collapsible-body">
                                                        <p class="details-header">Location</p>
                                                        <p>{{ past_assignment.location|linebreaks }}</p>

                                                        <p class="details-header">Contact Details</p>
                                                        <p>{{ past_assignment.contact|linebreaks }}</p>
                                                </div>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <div class="col s12 m12 l4 mobile-margin">
                                <ul class="collapsible collection with-header">
                                        <li class="collection-header light-blue lighten-3">
                                                <h4>Today's Assignments</h4>
                                                <p>{{ today_date }}</p>
                                        </li>

                                        {% for daily_assignment in daily_assignments %}
                                        <li>
                                                <div class="collapsible-header">
                                                        <div><i class="material-icons">expand_more</i></div>
                                                        <div>{{ daily_assignment.name }}
                                                                <div class="teal-text text-lighten-1">{{ daily_assignment.time }}</div>
                                                        </div>
                                                        <div class="right-aligned-flex grey-text text-darken-2">
                                                                {% if not daily_assignment.is_completed %}
                                                                <a href="{% url 'add_feedback' id=daily_assignment.id back='calendar' %}" class="grey-text text-darken-2">
                                                                        <i class="material-icons checkbox">check_box_outline_blank</i>
                                                                </a>
                                                                {% else %}
                                                                <i class="material-icons checkbox">check_box</i>
                                                                {% endif %}
                                                        </div>
                                                </div>
                                                <div class="collapsible-body">
                                                        <p class="details-header">Location</p>
                                                        <p>{{ daily_assignment.location|linebreaks }}</p>


                                                        <p class="details-header">Contact Details</p>
                                                        <p>{{ daily_assignment.contact|linebreaks }}</p>
                                                </div>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>

                        <div class="col s12 m12 l4 mobile-margin">
                                <ul class="collapsible collection with-header">
                                        <li class="collection-header light-blue lighten-3">
                                                <h4>Upcoming Assignments</h4>
                                        </li>

                                        {% for future_assignment in future_assignments %}
                                        <li>
                                                <div class="collapsible-header">
                                                        <i class="material-icons">expand_more</i>
                                                        <div>{{ future_assignment.name }}
                                                                <div class="teal-text text-lighten-1">{{ future_assignment.time }}</div>
                                                                <div class="teal-text text-lighten-1">{{ future_assignment.date }}</div>
                                                        </div>
                                                </div>
                                                <div class="collapsible-body">
                                                        <p class="details-header">Location</p>
                                                        <p>{{ future_assignment.location|linebreaks }}</p>

                                                        <p class="details-header">Contact Details</p>
                                                        <p>{{ future_assignment.contact|linebreaks }}</p>
                                                </div>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                </div>
        </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{% static "js/nav.js" %}"></script>
<script>
        var config = {
                type: 'pie',
                data: {
                        datasets: [{
                                data: {{ data|safe }},
                                backgroundColor: [
                                        '#76D7C4', '#F5B7B1'
                                ],
                                label: 'Population'
                        }],
                        labels: {{ labels|safe }}
                },
                options: {
                        responsive: true,
                        aspectRatio: 1
                }
        };

        window.onload = function() {
                var ctx = document.getElementById('pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
        };
</script>
{% endblock %}
