{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<header>
        <!-- Top Navbar -->
        <div class="navbar-fixed">
        <nav>
                <div class="nav-wrapper light-blue">
                        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                        <ul class="right">
                                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
                        </ul>
                </div>
        </nav>
        </div>
        <!-- Slide-out Navbar -->
        <ul id="slide-out" class="sidenav">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="javascript:window.location.reload(true)">Refresh</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
</header>

<main>
        <div class="container form-container">
                <div class="row">
                        <h1>Communities View</h1>
                        <a href="{% url 'feedback' %}">feedback</a>
                </div>
        </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static "js/nav.js" %}"></script>
{% endblock %}
