{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/officers.css" %}">
{% endblock %}

{% block content %}
<main>
        <div class="container">
                <ul class="collapsible collection with-header">
                        <li class="collection-header light-blue lighten-3">
                                <h4 class="center-align">Officers</h4>
                        </li>
                        <li class="scrollable">
                                <table class="striped centered">
                                        <thead>
                                                <tr>
                                                <th>Name</th>
                                                <th>Badge Number</th>
                                                <th>Email</th>
                                                <th>Is Staff</th>
                                                </tr>
                                        </thead>

                                        <tbody>
                                                {% for item in items %}
                                                {% if item.is_staff %}
                                                <tr style="background-color: #e1bee7;">
                                                {% else %}
                                                <tr style="background-color: #eeeeee;">
                                                {% endif %}
                                                        <td>{{ item.get_full_name }}</td>
                                                        <td>{{ item.username }}</td>
                                                        <td>{{ item.email }}</td>
                                                        <td>{{ item.is_staff }}</td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                </table>
                        </li>
                </ul>
        </div>
        <div class="fixed-action-btn">
                <a href="{% url 'add_officer' %}" class="btn-floating blue btn-large" id="add-button">
                <i class="material-icons">add</i>
                </a>
        </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static "js/nav.js" %}"></script>
{% endblock %}
