{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/registration/login.css" %}">
<link rel="stylesheet" href="{% static "css/footer.css" %}">
{% endblock %}

{% block content %}
<header>
        <!-- Top Navbar -->
        <nav>
                <div class="nav-wrapper light-blue">
                        <ul class="right">
                                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
                        </ul>
                </div>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="javascript:window.location.reload(true)">Refresh</a></li>
        </ul>
</header>

<main>
        <!-- Login Form -->
        <div class="container form-container">
                <div class="row">
                        <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center">
                                <img class="responsive-img logo" width="70%" src="{% static "images/logo-transparent-margin.png" %}">
                        </div>
                        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center-align">
                                <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button class="waves-effect waves-light light-blue btn-large" type="submit">Sign In</button>
                                </form>
                        </div>
                </div>
        </div>
</main>

<footer>
        <div class="footer-fixed">
		<nav class="z-depth-0 light-blue"></nav>
        </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="{% static "js/nav.js" %}"></script>
{% endblock %}
