main {
        margin-top: 30px;
        margin-bottom: 23px;
}

footer div {
        height: 23px;
}

footer {
    position: fixed;
	bottom: 0;
	width: 100%;
}

.scrollable {
        overflow: auto !important;
}

.header {
    font-size: 1.5rem;
    margin: 0;
    display: inline;
    vertical-align: middle;
    padding-bottom: 5px;
}

.short-header {
    display: none !important;
}

@media only screen and (max-width: 600px) {
  main {
          margin-top: 0;
  }

  .container {
          margin: 0;
          width: 100%;
  }

  .collection {
          margin: 0;
  }

  .col {
          padding: 0 !important;
  }

  .long-header {
      display: none !important;
  }

  .short-header {
      display: inline !important;
  }
}
