.collapsible-header {
        font-size: 18px;
}

.collection-header {
        font-size: 16px;
}

.collapsible-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
}

.details-header {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
}

.checkbox {
        font-size: 36px !important;
}

.right-aligned-flex {
        margin-left: auto;
}

#pie-container {
        width: 80% !important;
        height: 80% !important;
        margin: auto;
        padding-top: 20px;
}

h4 {
        margin-top: 5px;
        margin-bottom: 5px;
}

.calendar {
        table-layout: fixed;
}

td {
        padding: 3px;
        height: 80px;
        vertical-align: top;
}

.td-wrapper {
        height: 100%;
        overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .mobile-margin {
          margin-top: 20px;
  }

  .td-name {
          display: none;
  }

  td {
          height: 40px;
          vertical-align: middle !important;
  }
}
