@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
    background-color:#ffffff;
    margin: 0;
}

.cal {
    width: 100vw;
    height: 100vw;
    overflow:hidden;
    display:block;
    box-sizing:border-box !important;
    background:#ffffff;
    border-bottom: 2px solid #dddddd;
}

.cal span {
    font:24px 'Roboto';
    font-weight:500;
    color:#000000;
    text-align:center;
    width: 14.28vw;
    height: 14.28vw;
    display:inline-block;
    float:left;
    overflow:hidden;
    line-height: 14.28vw;
}

.cal span.weekday {
    font:28px 'Roboto';
    font-weight:500;
    color:#666666;
    line-height:58px;
}

.cal span.blue {
    color: rgb(0, 0, 255);
}

.cal span.red {
    color: rgb(255, 0, 0);
}

.cal span.purple {
    color: rgb(255, 0, 255);
}

.cal .b:before {
    opacity:0.3;
    content:'o';
}

.circle {
    border:2px solid #cccccc;
    box-sizing:border-box!important;
    border-radius:200px!important;
}
